.footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    bottom: 10px;
    position: absolute;
    justify-content: center;
}
.footer-item{
    width: 20%;
}
.footer .footer-item a{
    font-size: 16px;
}