* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.navbar {
    display: block;
  }
input {
    padding: 0px 10px; 
    margin: 0px 50px;
  }