form.loginForm{
    box-sizing: content-box;
    padding:30px 10%;
    width:50%;
    margin:0px 15%;
}
.Sign-In{
    padding:0px 50px;
    justify-content:center;
    background-color:rgb(240, 239, 239);
    border-radius: 20px;

}
.Sign-In .form-control{
    margin:0px;
}
span.Sign-Up{
    padding-right:10px;
    color: grey;
    text-decoration: none;
} 
span.Sign-Up a {
    text-decoration: none;
    color:grey
}  
span.Sign-Up:hover a {
    text-decoration: none;
    color:blue;
}  