img.logo {
    width:150%; 
    height:100%;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
    /* background-color: #333; */
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
    padding-left: 0px;
}
.nav-list .Nav-item{
    text-align: center;   
    flex: 1; 
    align-self: center;
}
.nav-list .Nav-item a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.nav-list .Nav-item a:hover {
    display: inline-block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-list form {
    display:flex;
    flex-grow: 5;
    flex-direction:row;
    padding:2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-list form input[type=text]{
    float: right;
    flex-grow:2;
    border:black;
    padding: 6px;
    font-size: 17px;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.nav-list form button{
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#login{
    flex-grow: 0.5;
}
#cart{
    flex-grow: 0.5;
}