.product-container{
  margin-left: 5%;
  margin-right: 5%;
}
.product-container .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.product-container .col-1 {
    flex: 1 1 25rem;
  }
.product-container .col-2 {
    flex: 2 1 50rem;
  }
.product-container .col-3 {
    flex: 32 1 75rem;
  }
table{
  width: 100%;
  border-collapse: collapse ;
  overflow: hidden;
}
 table td {
  border: 1px solid rgb(85, 76, 76);
}
.product-container .price_product{
  font-size: px;
  color: #F44336;
  font-weight: 700;
}